<html>
<head>
<title></title>
<script type="text/javascript" src="jquery.tools.min.js"></script>
<script type="text/javascript">
	var editorId = "<%= message %>";
	var version = "<%= version %>";
	var mutex=false;
	function checkAndHoldMutex(cause){console.log("checking mutex "+cause);while(mutex){}mutex=true;console.log("mutex acquired:"+cause);}
	function checkMutex(){return mutex;}
	function releaseMutex(cause){mutex=false;console.log("mutex released:"+cause);}
	
	var lastestContent = "";
	
	var waiter = function(){$.post("wait",{"editorId":editorId},function(data){
				checkAndHoldMutex("waiter");
				console.log("In wait recieved text : "+data);
				data = $.parseJSON(data);
				if(parseInt(data.version)>parseInt(version)){
					$("#content").val(data.text);
				}
				releaseMutex("waiter");
				waiter();
			}).fail(function(error) { if(error.status===503){waiter();return;}alert("error in wait "); });};
			
	$(document).ready(function(){
			//alert("hello");
			var timeoutSet = false;
			$("#content").keyup(function(){
					lastestContent = $(this).val();
					if(checkMutex()){
						if(!timeoutSet){
							timeoutSet=true;
						}
						return;
					}else{
						timeoutSet=true;
						setTimeout(function(){
							while(timeoutSet){
								timeoutSet=false;
								checkAndHoldMutex("keyup");
								$.post("post",{"editorId":editorId,"version":version,"text":lastestContent},function(data){
									version=($.parseJSON(data))["version"];
									releaseMutex("keyup");
								}).fail(function(error) { alert("error in post "+error); releaseMutex("keyup");});
							}
						},0);
					}	
				console.log($(this).val()+":keyup");
			});
			waiter();
		}
	);
</script>
</head>

<body>
<p>
Id : <%= message %>
</p>
<label>Editor identifier : </label><%= message %>
<br>
<textarea rows="30" cols="50" id="content"><%= content %></textarea>
</body>
</html>
